html,
body {
  height: 100vh;
  overflow-x: hidden;
  min-width: 320px;
}
body {
  display: flex;
  flex-direction: column;
  text-rendering: optimizeSpeed;
  background-color: $bg-color2;
  font-size: 16px;
  line-height: 21px;
  color: $default-color2;
  margin: 0 auto;
  @extend %Montserrat-400;
}
.main {
  flex-grow: 1;
}

// h1 {
//   @extend %PTSerif-700;
//   font-size: 90px;
//   line-height: 117px;
// }
h2 {
  @extend %Montserrat-600;
  font-size: 30px;
  line-height: 1.2;
  color: $default-color2;
}

h3 {
  @extend %Montserrat-700;
  font-size: 20px;
}
h4 {
  @extend %Montserrat-600;
  font-size: 20px;
}
h5 {
  @extend %Montserrat-600;
  font-size: 18px;
}
h6 {
  @extend %Montserrat-700;
  font-size: 15px;
  color: $accent-color1;
}

p {
  font-size: 18px;
  line-height: 1.3;
}


button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}
.btn {
  background-color: $bg-color2;
  border: 1px solid $accent-color1;
  color: $accent-color1;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  @extend %Montserrat-500;
  transition: all 0.7s;
  cursor: pointer;
  &:hover,
  &:active {
    @extend %Montserrat-700;
    box-shadow: 0px 4px 10px rgba(48, 48, 48, 0.25);
  }
}
.btn-more {
  background-color: $default-color1;
  border: 1px solid $default-color2;
  max-width: 180px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  @extend %Montserrat-500;
  transition: all 0.7s;
  cursor: pointer;
  &:hover {
    @extend %Montserrat-700;
    background-color: $bg-color1;
    color: $default-color1;
    border-color: transparent;
    box-shadow: 0px 4px 10px rgba(48, 48, 48, 0.25);
  }
  &:active {
    border-color: transparent;
    color: $default-color1;
    box-shadow: 0px 4px 10px rgba(48, 48, 48, 0.25);
    background-color: $bg-color2;
    @extend %Montserrat-700;
  }
}

.btnBlackWhite {
  color: $default-color1;
  background-color: #0E0E0E;
  border-color: transparent;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  @extend %Montserrat-500;
  transition: all 0.7s;
  cursor: pointer;
  &:hover {
    color: $accent-color1;
    @extend %Montserrat-700;
    box-shadow: 0px 4px 10px rgba(48, 48, 48, 0.25);
  }
  &:active {
    color: $accent-color1;
    background-color: #0E0E0E;
    box-shadow: 0px 4px 10px rgba(48, 48, 48, 0.25);
    @extend %Montserrat-700;
  } 
}
.title-decor--top,
.title-decor--bottom {
  //width: fit-content;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/title-decor.svg);
    transition: all 0.8s;
    width: 71px;
    height: 71px; 
  }
  &:hover {
    &::before {
      box-shadow: -4px -4px 7px 0px rgba(188, 204, 105, 0.2);
    }
  }
}
.title-decor--top {
  padding: 20px 0 20px 20px
}
.title-decor--bottom {
  padding: 20px 20px 20px 0
}


.form-input,
.form-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $default-color2;
  padding: 10px 5px;
  margin-bottom: 20px;
  width: 100%;
  color: $default-color2;
  &::placeholder{
    font-size: 15px;
    color: $default-color2;
  }
}
.form-textarea {
  height: 120px;
  width: 100%;
  resize: none;
  overflow: hidden;
  &::placeholder{
    padding-top: 80px;   
  }
}
.title-decor--top {
  &::before {
    top: 0;
    left: 0;
  }
}
.title-decor--bottom {
  &::before {
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
  }
}


.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 95px;
}

.container-fluid {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}