.orderConsultation {
  background-color: $default-color1;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-form__wrap {
      position: relative;
      width: 100%;
      max-width: 500px;
    }
    &-form {
      background-color: $default-color1;
      padding: 20px 20px 20px 50px;
      opacity: 1;
      visibility: visible;
      transition: all 0.5s linear;
      &--hidden {
        opacity: 0;
        visibility: hidden;
      }
    }
    &-formTitle {
      margin-bottom: 40px;
      @extend %Montserrat-600;
      font-size: 30px;
      line-height: 1.2;
    }
    &-input {
      max-width: 360px;
    }
    &-btn {
      max-width: 270px;
      margin-top: 20px;
    }
    &-img {
      height: 580px;
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
.orderConsultation--furniture {
  background-image: url(../images/services/furniture/footer-bg.jpg);
  height: 580px;
  padding-top: 100px;
  .orderConsultation__box {
    align-items: flex-start;
    &-content {
      width: 100%;
      max-width: 500px;
      margin-right: 100px;
      color: $default-color1;
    }
    &-title {
      color: $default-color1;
      margin-bottom: 50px;
    }
    &-text {
      font-size: 15px;
      line-height: 1.5;
      margin-top: 10px;
    }
    .consultation {
      top: 0;
    }
  }
}
.orderConsultation--home {
  background-image: url(../images/footer-bg.jpg);
}
.orderConsultation--finishingWorks {
  background-image: url(../images/services/finishingWorks/footer-bg.jpg);
}
.orderConsultation--home,
.orderConsultation--finishingWorks {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 577px;
  display: flex;
  align-items: center;
  justify-content: center;
  .orderConsultation__box {
    position: relative;
    width: 100%;
    max-width: 652px;
    align-items: flex-start;
    flex-direction: column;
    padding: 80px 60px;
    background-color: rgba(255, 255, 255, 0.7);
    &-form {
      background-color: transparent;
      width: 100%;
      margin-top: 50px;
      padding: 0;
    }
    &-btn {
      max-width: 250px;
      border-color: transparent;
      color: $default-color1;
      margin-top: 20px;
      &:hover {
        @extend %Montserrat-500;
        border-color: $accent-color1;
        color: $accent-color1;
      }
      &:active {
        border-color: $accent-color1;
        color: $accent-color1;
      }
    }
    .consultation {
      height: 100%;
    }
  }
}
.orderConsultation--project {
  background-image: url(../images/portfolio-project/orderConsultation-bg.jpg);
  //height: 400px;
  padding: 95px 0;
  background-size: cover;
  background-position: center;
  .orderConsultation__box {
    color: $default-color1;
    &-title {
      color: $default-color1;
      margin-bottom: 30px;
    }
    &-form {
      background-color: transparent;
      
    }
    &-input {
      color: $default-color1;
      border-color: $default-color1;
      &::placeholder {
        color: $default-color1;
      }
    }
    .consultation {
      top: -75px;
      margin-left: 20px;
      &__content {
        padding: 40px;
      }
    }
  }
}

.servicesIntro {
  background-color: $default-color1;
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__info {
    padding: 30px 0 20px 100px;
    max-width: 630px;
    width: 100%;
    margin-right: 10px;
    &-title {
      margin-bottom: 40px;
      width: fit-content;
    }
    &-text {
      font-size: 20px;
      margin-bottom: 20px;
    }
    &-list {
      &__item {
        position: relative;
        padding-left: 20px;
        margin-top: 20px;
        font-size: 18px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 9px;
          height: 9px;
          background-color: $accent-color1;
        }
      }
    }
    &-btn {
      max-width: 200px;
      margin-top: 30px;
      &--decoration,
      &--coordination,
      &--planning {
        max-width: 300px;
      }
      &--finishingWorks {
        max-width: 220px;
      }
    }
  }
  &__img {
    position: relative;
    height: 750px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      background: linear-gradient(113.14deg, #000000 0%, rgba(0, 0, 0, 0.01) 64.97%);
    }
  }

}
.servicesIntro--project {
  background-image: url(../images/portfolio-project/servicesIntro-bg.jpg);
  background-position: center;
  background-size: cover;
  //height: 755px;
  padding: 80px 0 40px;
  .servicesIntro__info {
    color: $default-color1;
    &-title {
      color: $default-color1;
    }
    &-subtitle {
      color: $accent-color1;
      margin: 30px 0 50px;
    }
    &-top {
      margin-bottom: 20px;
    }
    &-text {
      margin-bottom: 50px;
    }
  }
}
.services {
  background-color: $default-color1;
  &__box {
    &-item {
      display: flex;
      align-items: center;
      &:nth-child(1) {
        background-color: rgba(247, 244, 242, 0.6);
      }
      &:nth-child(3) {
        background-color: rgba(241, 236, 233, 0.6);
      }
      &:nth-child(5) {
        background-color: rgba(232, 224, 219, 0.6);
      }
      &:nth-child(odd) {
        .services__box-content {
          padding: 20px 100px 20px 65px;
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        justify-content: space-between;
        .services__box-content {
          padding: 20px 65px 20px 100px;
        }
      }
    }
    &-img {
      height: 450px;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    &-content {
      padding: 25px 0;
      &__title {
        width: fit-content;
        border-bottom: 1px solid $accent-color1;
        margin-bottom: 40px;
        padding-bottom: 6px;
      }
      &__text {
        max-width: 750px;
        width: 100%;
        line-height: 1.4;
        margin-bottom: 40px;
      }
      &__link {
        background-color: transparent;
      }
    } 
  }
}

.yourProject {
  background-color: #F1ECE9;
  &__box {
    display: flex;
    align-items: center;
    &-content {
      max-width: 560px;
      width: 100%;
      margin-left: 60px;
      &__title {
        border-bottom: none;
        width: fit-content;
        padding-right: 45px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          height: 8px;
          width: 30px;
          background-image: url(../images/icons/arrow-dark-small.png);
        }
      }
      &__text {
        margin: 40px 0;
      }
      &__btn {
        margin-top: 30px;
        max-width: 270px;
      }
    }
  }
  // &--design {
  //   .yourProject__box {
  //     background-color: $default-color1;
  //   }
  // }
}

.banner {
  background-image: url(../images/services/furniture/baner.jpg);
  height: 360px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  &__info {
    color: $default-color1;
    display: flex;
    align-items: center;
    &-title {
      max-width: 640px;
      width: 100%;
      margin-right: 100px;
      color: $default-color1;
      line-height: 1.4;
    }
    &-item {
      font-size: 20px;
      // margin: 15px 0;
      // padding-left: 20px;
      padding: 15px 0 15px 15px;
      position: relative;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 5px;
        height: 5px;
        background-color: $default-color1;
      }
      &:hover::before {
        background-color: $accent-color1;
      }
    }
  }
}

.price {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding: 20px 0;
  }
  &__pic {
    height: 780px;
    &-img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  &__info {
    max-width: 500px;
    padding: 20px;
    color: $default-color1;
    &-title {
      color: $default-color1;
      margin-bottom: 30px;
    }
    &-cost {
      margin-bottom: 30px;
      span {
        margin-left: 70px;
        font-size: 20px;
        @extend %Montserrat-400;
      }
    }
    &-subtitle {
      margin-bottom: 50px;
      color: $accent-color1;
    }
    &-btn {
      max-width: 300px;
    }
    &--table {
      max-width: 650px;
      padding-bottom: 100px;
      margin-right: 0 !important;
    }
    &-table {
      width: 100%;
      margin-bottom: 30px;
      &__row {
        height: 60px;
      }
      &__cost {
        @extend %Montserrat-600;
        font-size: 20px;
        width: 200px;
      }
      &__options {
        font-size: 18px;
      }
      &__cell {
        font-size: 15px;
        text-align: center;
        &:first-child{
          width: 60%;
          text-align: start;
        }
        &--top {
          font-size: 18px;
          @extend %Montserrat-600;
          .icon {
            fill: #fff;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    &-list {
      &__item {
        cursor: pointer;
        margin-bottom: 30px;
        font-size: 18px;
        padding-left: 15px;
        position: relative;
        transition: all 0.7s linear;
        &::before {
          content: '';
          position: absolute;
          top: 7px;
          left: 0;
          width: 3px;
          height: 3px;
          background-color: $default-color1;
        }
        &:hover {
          color: $accent-color1;
          &::before {
            background-color: $accent-color1;
          }
        }  
      }
    }
  }
}

.completedProjects {
  background-image: url(../images/services/finishingWorks/CompletedProjects-bg.jpg);
  height: 880px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  &-title {
    color: $default-color1;
    margin-bottom: 40px;
  }
  &__swiper {
    padding-bottom: 100px;
  }
  &__gallery {
    display: grid;
    grid-gap: 20px;
    position: relative;
    &-img {
      object-fit: cover;
    }
    &--first {
      grid-template-columns: 32% 31% 16% 16%;
      grid-template-rows: repeat(2, 250px);
      .completedProjects__gallery-img {
        &--1,
        &--5 {
          width: 100%;
          height: 250px;
        }
        &--2 {
          grid-row: span 2;
          height: 520px;
        }
        &--3,
        &--4 {
          width: 100%;
          height: 190px;
        }
        &--6 {
          grid-column: span 2;
          height: 310px;
          position: relative;
          top: -60px;
        }
      }
    }
    &--second {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 160px);
      .completedProjects__gallery-img {
        &--1,
        &--5,
        &--6 {
          width: 100%;
          height: 160px;
        }
        &--2,
        &--3 {
          grid-row: span 3;
          height: 100%;
        }
      }
    }
    &--third {
      grid-template-columns: 32% 31% 16% 16%;
      //grid-template-columns: 400px 400px 190px 190px;
      grid-template-rows: repeat(2, 250px);
      .completedProjects__gallery-img {
        &--1,
        &--2 {
          grid-row: span 2;
          height: 520px;
        }
        &--3,
        &--4 {
          width: 100%;
          height: 250px;
        }
        &--5,
        &--6 {
          width: 100%;
          height: 250px;
        }
      }
    }
    &--fourth {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 250px);
      .completedProjects__gallery-img {
        height: 250px;
        width: 100%;
        &--2{
          grid-row: span 2;
          height: 520px;
        }
      }
    }
    &--fifth {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 250px);
      .completedProjects__gallery-img {
        height: 250px;
        width: 100%;
      }
    }
    &--sixth {
      grid-template-columns: 32% 16% 16% 31%;
      grid-template-rows: repeat(2, 250px);
      .completedProjects__gallery-img {
        &--1,
        &--4 {
          grid-row: span 2;
          height: 520px;
        }       
        width: 100%;
        height: 100%;
      }
    }
  }
}

.insuranceGuarantee {
  background-color: $default-color1;
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    max-width: 650px;
    width: 100%;
    padding: 50px 20px 50px 95px;
    &-title {
      margin-bottom: 10px;
    }
    &-item {
      margin-top: 50px;
    }
    &-subtitle {
      margin-bottom: 20px;
    }
  }
}

.sampleContract {
  background-image: url(../images/services/finishingWorks/sample-bg.jpg);
  height: 330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  &__box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-width: 890px;
    margin: 0 auto;
  }
  &__content {
    flex-basis: 520px;
    margin-right: 20px;
    &-title {
      position: relative;
      width: fit-content;
      padding-right: 60px;
      margin-bottom: 60px;
      &::before {
        content: '';
        position: absolute;
        top: 13px;
        right: 0;
        background-image: url(../images/services/finishingWorks/link-arrow.png);
        width: 30px;
        height: 8px;
      }
    }
  }
  &__link {
    max-width: 220px;
  }
}

.options {
  background-color: #F7F4F2;
  &__block {
    display: flex;
    align-items: center;
    color: $default-color2;
    &:nth-child(even) {
      justify-content: space-between;
      background-color: $default-color1;
      flex-direction: row-reverse;
      .options__block-info {
        padding: 30px 60px 30px 100px;
      }
    }
    &-img {
      width: 100%;
      max-width: 625px;
      height: 520px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-info {
      max-width: 670px;
      width: 100%;
      padding: 30px 100px 30px 60px;
      &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
      }
      &__title {
        padding-bottom: 5px;
        width: fit-content;
        position: relative;
        margin-bottom: 10px;
        &::after {
          transition: all 1s;
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $accent-color1;
          width: 0;
          height: 1px;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
      &__item {
        font-size: 18px;
        margin-bottom: 10px;
        padding-left: 15px;
        position: relative;
        cursor: pointer;
        transition: all 0.7s;
        &::before {
          content: '';
          position: absolute;
          transition: all 0.7s;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: $default-color2;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &:hover {
          color: $accent-color1;
          &::before {
            background-color: $accent-color1;
          }
        }
      }
      &__bottom {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__button {
        background-color: transparent;
      }
      &__link {
        font-size: 18px;
        @extend %Montserrat-300;
        padding-bottom: 5px;
        border-bottom: 1px dashed $default-color2;
      }
    }
  }
}

.composition {
  padding: 80px 0;
  color: $default-color2;
  background-color: $default-color1;
  &__wrap {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__box {
    max-width: 48%;
    width: 100%;
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
    &-list {
      margin-top: 30px;
      padding-left: 15px !important;
      //list-style-position: inside;
    }
    &-item {
      padding-left: 5px;
      margin-bottom: 14px;
      font-size: 15px;
      position: relative;
      &::before {
        position: absolute;
        font-size: 15px;
        color: $default-color2;
        left: 0;
        top: 0;

      }
    }
    &-order {
      margin-top: 30px;
      height: 390px;
      background-image: url(../images/services/design/composition-form-bg.jpg);
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $default-color1;
      position: relative;
      padding: 10px 20px;
      &__form {
        width: 400px;
        opacity: 1;
        visibility: visible;
        transition: all 0.5s linear;
        &--hidden {
          opacity: 0;
          visibility: hidden;
        }
      }
      &__title {
        color: $default-color1;
        margin-bottom: 40px;
      }
      &__input {
        color: $default-color1;
        border-color: $default-color1;
        &::placeholder {
          color: $default-color1;
        }
      }
      &__btn {
        max-width: 250px;
        margin-top: 30px;
      }
      .consultation {
        height: 100%;
        &__content {
          background-color: transparent;
          color: $default-color1;
          padding: 20px;
          &-title {
            color: $default-color1;
          }
          &-close {
            color: $default-color2;
            background-color: $default-color1;
            border: none;
          }  
        }
      }
    }
  }
}

.fengShui {
  background-color: $default-color1;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  
  &__info {
    max-width: 550px;
    width: 100%;
    padding: 20px;
    &-title {
      margin-bottom: 40px;
    }
    &-text {
      margin-top: 20px;
    }
  }
  &__img {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}