$accent-color1: #BBCC68;
$accent-color2: #DF9D60;

$default-color1: #fff;
$default-color2: #000;
$bg-color1: #303030;
$bg-color2: #171717;

%Nunito-300 {
  font-family: 'Nunito-Light', sans-serif;
  font-weight: 300;
}

%MontserratItalic-300 {
  font-family: 'Montserrat-LightItalic', sans-serif;
  font-weight: 300;
}
%Montserrat-300 {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 300;
}
%Montserrat-400 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}
%Montserrat-500 {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}
%Montserrat-600 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}
%Montserrat-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}


  




